{% extends 'OCPlatformBundle::layout.html.twig' %}

   {% block title %}
       Packs d'hébergement
   {% endblock %}

{% block body %}

    {{ include("OCPlatformBundle:Pack:form.html.twig") }}


    <div class="block">
        <!-- Mini Pricing Tables Title -->
        <div class="block-title">
            <h2>Liste des packs d'hébergement</h2>
        </div>
        <!-- END Mini Pricing Tables Title -->

        <!-- Mini Pricing Tables Content -->
        <div class="row">
            {% for p in listPacks %}
            <div class="col-sm-3">
                <table class="table table-pricing table-borderless" style="height: 250px">
                    <thead>
                    <tr>
                        <th>{{ p.name }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <h4 id="pack{{ p.id }}" style="white-space: pre-wrap">{{ p.description }}</h4>


                        </td>
                    </tr>
                    <tr class="active">
                        <td>
                            <a data-toggle="modal" title="Modifier le pack" data-target="#myedit{{ p.id }}" class="btn btn-effect-ripple btn-xs btn-success" id="edit"><i class="fa fa-pencil"></i></a>
                            <a title="Supprimer le pack" class="btn btn-effect-ripple btn-xs btn-danger" data-toggle="modal" data-target="#mydelete{{ p.id }}" id="trash"><i class="fa fa-trash"></i></a>
                            <script>
                                $("#trash").attr('id','trash'+{{ p.id }});
                                $("#edit").attr('id','edit'+{{ p.id }})
                            </script>
                            <div class="modal fade" id="mydelete{{ p.id }}" role="dialog">

                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Supprimer un pack</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                Etes-vous certain de vouloir supprimer le pack "{{ p.name }}" ?
                                            </p>
                                            <form action="{{ path('oc_platform_delPack', {'id': p.id}) }}" method="post">

                                                {# Ici j'ai écrit le bouton de soumission à la main #}
                                                <div class="modal-footer">
                                                    <input type="submit" value="Supprimer" class="btn btn-danger" />
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Quitter</button>
                                                </div>

                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="modal fade" id="myedit{{ p.id }}" role="dialog">

                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Modifier {{ p.name }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            {{ render(controller('OCPlatformBundle:Pack:edit', { 'id': p.id } ),{}) }}
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
                {% endfor %}

        </div>
        <!-- END Mini Pricing Tables Content -->
    </div>

{% endblock %}